
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  z-index: 10;
  position: fixed;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  gap: 20px;
  top: 20px;
  right: 5dvw;
}


.buttons p {
  padding: 1rem;
  background-color: rgba(var(--card-rgb), 0.5);
  border: 1px solid rgba(var(--card-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.buttons h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}


/* Mobile */
@media (max-width: 700px) {
  .buttons {
      right: 10dvw;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .buttons {
      right: 10dvw;
  }
}
