
.controls {
    display: inherit;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 10;
    position: fixed;
    border-radius: 12px;
    font-size: 14px;
    top: 0;
    left: 0;
    margin-top: 80px;
    width: max(var(--control-width-wide-outer), 320);
}

.controlsFloat {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 10;
    position: relative;
    border-radius: 12px;
    font-size: 14px;
    top: 0;
    left: 0;
    margin-top: 80px;
    width: var(--control-width-wide-outer);
}

.light {
    --controls-bg-color: rgba(238, 240, 241, 0.5);
    --controls-border-color: rgba(172, 175, 176, 0.3);
}

.dark {
    --controls-bg-color: rgba(238, 240, 241, 0.9);
    --controls-border-color: rgba(172, 175, 176, 0.3);
}

.controls {
    background-color: var(--controls-bg-color);
    border: 1px solid var(--controls-border-color);
}

.controls p {
    position: relative;
    margin: 0;
    padding: 0rem;
    text-align: center;
}

.controls h2 {
    font-weight: 600;
    font-size: 16px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 12px;
}

.controls h3 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 12px;
}

.hide {
    display: none;
}

.explainbuttonOff {
    align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(78, 153, 234, 0.5);
    border: 1px solid rgba(172, 175, 176, 0.3);
    border-radius: 12px;
    width: 70%;
    padding: 2px;
    box-shadow: 2px 1px 1px black;
}


.explainbuttonOff p {
    position: relative;
    margin: 0;
    padding: 1rem;
}

.explainbuttonOff h2 {
    font-weight: 600;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    margin-left: 12px;
}

.explainbuttonOff h3 {
    font-weight: 400;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 12px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .controls {
        width: max(var(--control-width-med--outer), 320);
    }
}

/* Mobile */
@media (max-width: 700px) {
    .controls {
        width: max(var(--control-width-narros-outer), 320);
        min-width: 150px;
        font-size: 12px;
    }
    .controls h2 {
        font-weight: 400;
        font-size: 12px;
    }
    .controls h3 {
        margin-top: 0.3rem;
        margin-bottom: 0.2rem;
    }

    .controlsTransform {
        composes: controls;
        margin-top: 80px;
    }
}
