
.controls {
  display: inherit;
  justify-content: center;
  align-items: center;
  margin: 20px;
  z-index: 10;
  position: absolute;
  background-color: rgba(238, 240, 241, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  top: 0;
  left: 0;
  width: 10dvw;
}


.controls p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.controls h2 {
  font-weight: 600;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 12px;
}

.controls h3 {
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 12px;
}

.hide {
    display: none;
}

.listSelect {
    width: 90%;
    align: center;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 8dvw;
}

.numLayersSelect {
    width: 90%;
    align: center;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 8dvw;
}

.opacitySlider {
    width: 90%;
    height: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10%;
    background: #eee;
    background-image: linear-gradient(#6a6ad4, #33c7ff);
    background-repeat: no-repeat;
    opacity: 0.8;
    outline: none;
    transition: 0.1s;
}

.opacitySlider:hover {
    opacity: 1;
}

.opacitySlider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
}

.opacitySlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
    box-shadow: 0 0 2px 0 #555;
}

.opacitySlider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    margin-left: 10px;
    margin-bottom: 20px;
}

.opacitySlider::-moz-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
    margin-left: 10px;
    margin-bottom: 20px;
}

.explainbuttonOff {
  align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(78, 153, 234, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;
  font-family: sans-serif;
  width: 70%;
  padding: 2px;
  box-shadow: 2px 1px 1px black;
}


.explainbuttonOff p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.explainbuttonOff h2 {
  font-weight: 600;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 12px;
}

.explainbuttonOff h3 {
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 12px;
}

.explainbuttonOn {
  align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(78, 153, 234, 0.5);
  border: 1px solid rgba(172, 175, 176, 0.3);
  border-radius: 12px;
  font-family: sans-serif;
  width: 70%;
  padding: 2px;
  opacity: 0.6;
}


.explainbuttonOn p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.explainbuttonOn h2 {
  font-weight: 600;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 12px;
}

.explainbuttonOn h3 {
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 12px;
}

.explaintext {
  display: inherit;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  z-index: 10;
  position: relative;
  background-color: rgba(238, 240, 241, 0.95);
  border: 1px solid rgba(172, 175, 176, 0.9);
  border-radius: 12px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  left: 10%;
  width: 70%;
}


.explaintext p {
  position: relative;
  margin: 0;
  padding: 1rem;
}

.explaintext h2 {
  font-weight: 600;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  margin-left: 12px;
}

.explaintext h3 {
  font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 12px;
}

.radioButtons {
  align: center;
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.radioButton {
  align: center;
  font-family: sans-serif;
  margin-left: 15px;
}

.radioButton label {
  align: center;
  font-family: sans-serif;
}


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .controls {
        width: 20dvw;
    }
    .listSelect {
        margin-left: 5px;
        width: 16dvw;
    }
    .numLayersSelect {
        margin-left: 5px;
        width: 16dvw;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .controls {
        width: 50dvw;
    }
    .listSelect {
        margin-left: 5px;
        width: 40dvw;
    }
    .numLayersSelect {
        margin-left: 5px;
        width: 40dvw;
    }
}
