.mapsheading {
  justify-content: center;
  align: center;
  text-align: center;
  margin: 15px;
  z-index: 10;
  position: fixed;
  width: 250px;
  margin-top: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.mapsheading p {
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.mapsheading h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.tourmask {
    opacity: 0.6;
    color: #A0A0A0;
    color: white;

}

.tourhelper {
    --reactour-accent: #5cb7b7;
    line-height: 1.3;
    color: #2d2323;
    opacity: 0.8;
}

/* Mobile */
@media (max-width: 700px) {
    .mapsheading {
        margin-top: 70px;
    }
}
