.mapmessage {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px;
    z-index: 9999;
    position: relative;
    height: 100vh;
    font-size: 4rem;
    background-color: rgba(var(--callout-rgb), 0.5);
    border: 0px solid rgba(var(--callout-border-rgb), 0.3);
    border-radius: var(--border-radius);
}

/* Mobile */
@media (max-width: 700px) {
    .mapmessage {
        font-size: 2rem
    }
}
