@mixin track-styles {
    appearance: none;
    background: transparent;
    border: transparent;
}

@mixin thumb-styles {
    appearance: none;
    pointer-events: all;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 0px;
    border: 0 none;
    cursor: grab;
    background-color: red;

    &:active {
        cursor: grabbing;
    }
}

#root {
    max-width: 500px;
    padding: 12px;
    margin: auto;
}

.sliders {
    position: relative;
    display: flex;
    align-items: center;
    margin: 40px calc(var(--thumb-size) / 2);
    padding-top: 1.6rem;
    height: calc(var(--thumb-size) + 1.6rem);
}

.sliderInputs {
    width: calc(100% + var(--thumb-size));
    margin: 0 calc(var(--thumb-size) / -2);
    position: absolute;
    height: var(--thumb-size);
}

.sliderControls {
    width: 100%;
    position: absolute;
    height: var(--thumb-size);
}

.sliderInput {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    height: 100%;
    opacity: 0;
    z-index: 3;
    padding: 0;
};

.sliderRail {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    border-radius: 3px;
    background: lightgrey;
}

.sliderInnerRail {
    position: absolute;
    height: 100%;
    background: hotpink;
    opacity: 0.5;
}

.sliderControl {
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    position: absolute;
    background: hotpink;
    top: 50%;
    margin-left: calc(var(--thumb-size) / -2);
    transform: translate3d(0, -50%, 0);
    z-index: 2;
}
