.statspage {
  display: inline;
  align-items: center;
  justify-content: center;
}

.statsplot {
  display: inherit;
  justify-content: center;
  align: center;
  align-items: center;
  margin: 20px;
  z-index: 10;
  position: relative;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}

.statsplot p {
  position: absolute;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.statsplot h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.statsheading {
  justify-content: center;
  align: center;
  text-align: center;
  margin: 15px;
  z-index: 10;
  position: fixed;
  font-family: sans-serif;
  width: 250px;
  top: 1%;
}

.statsheading p {
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.statsheading h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.statstext {
  display: inline;
  justify-content: center;
  align-items: center;
  margin: 20px;
  z-index: 10;
  position: absolute;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height: 100%;
  width: 70%;
  left: 0%;
}

.statstext p {
  position: absolute;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.statstext h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
